.search-filed {
  width: 1041px !important;
  height: 293px;
}
.main-search li {
  list-style: none;
}
.main-search li a {
  padding: 4px 20px;
  background-color: #00bbb4;
  color: white;
  margin: 5px;
  text-decoration: none;
}
.title-search li {
  list-style: none;
}
.title-search li a {
  padding: 4px 20px;
  border-bottom: 1px solid #00bbb4;
  color: black;
  margin: 5px;
  text-decoration: none;
}
